{% extends 'base.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% block header %}
<div class="row noprint">
    <div class="col-sm-8 col-md-9">
        <ol class="breadcrumb">
            <li><a href="{% url 'plugins:netbox_bgp:asn_list' %}">AS Numbers</a></li>
            <li>{{ object }}</li>
        </ol>
    </div>
    <div class="col-sm-4 col-md-3">
        <form action="{% url 'plugins:netbox_bgp:asn_list' %}" method="get">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search ASNs" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <span class="mdi mdi-magnify" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="pull-right noprint">
    {% comment %}
    {% plugin_buttons object %}
    {% if perms.netbox_bgp.add_asn %}
    {% clone_button object %}
    {% endif %}
    {% if perms.netbox_bgp.change_asn %}
    {% edit_button object %}
    {% endif %}
    {% if perms.netbox_bgp.delete_asn %}
    {% delete_button object %}
    {% endif %}
    {% endcomment %}
    {% if perms.netbox_bgp.change_asn %}
    <a href="{% url 'plugins:netbox_bgp:asn_edit' pk=object.pk %}" class="btn btn-warning">
        <span class="mdi mdi-pencil" aria-hidden="true"></span> Edit
    </a>    
    {% endif %}
    {% if perms.netbox_bgp.delete_asn %}
    <a href="{% url 'plugins:netbox_bgp:asn_delete' pk=object.pk %}" class="btn btn-danger">
        <span class="mdi mdi-trash-can-outline" aria-hidden="true"></span> Delete
    </a>    
    {% endif %}    
</div>
<h1>{% block title %}AS{{ object }}{% endblock %}</h1>
{% include 'inc/created_updated.html' %}
<div class="pull-right noprint">
    {% custom_links object %}
</div>
<ul class="nav nav-tabs">
    <li role="presentation" {% if not active_tab %} class="active" {% endif %}>
        <a href="{{ object.get_absolute_url }}">ASN</a>
    </li>
    {% if perms.extras.view_objectchange %}
    <li role="presentation" {% if active_tab == 'changelog' %} class="active" {% endif %}>
        <a href="{% url 'plugins:netbox_bgp:asn_changelog' pk=object.pk %}">Change Log</a>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>ASN</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Site</td>
                    <td>{{ object.site }}</td>
                </tr>                
                <tr>
                    <td>Number</td>
                    <td>{{ object.number }}</td>
                </tr>
                <tr>
                    <td>Tenant</td>
                    <td>
                        {% if object.tenant %}
                        <a href="{{ object.tenant.get_absolute_url }}">{{ object.tenant }}</a>
                        {% else %}
                        <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                    <span class="label label-{{ object.get_status_class }}">{{ object.get_status_display }}</span>
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
            </table>
        </div>
        {% include 'extras/inc/tags_panel.html' with tags=object.tags.all url='plugins:netbox_bgp:asn_list' %}
        {% include 'inc/custom_fields_panel.html' %}
        {% plugin_left_page object %}
    </div>
    <div class="col-md-8">
        {% include 'utilities/obj_table.html' with table=related_session_table table_template='panel_table.html' heading='Related BGP Sessions' panel_class='default noprint' %}
        {% plugin_right_page object %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}