{% extends 'generic/object.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'plugins:netbox_bgp:bgppeergroup_list' %}">Peer Groups</a></li>
{% endblock %}


{% block content %}
<div class="row mb-3">
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">
                Peer Group
            </h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <td>name</td>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ object.description|placeholder }}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% include 'inc/panels/custom_fields.html' %}
        {% include 'inc/panels/tags.html' %}
        {% include 'inc/panels/comments.html' %}
        {% plugin_left_page object %}
    </div>
    <div class="col-md-8">
        <div class="card">
            <h5 class="card-header">
                Import Policies
            </h5>
            <div class="card-body">
                {% render_table import_policies_table 'inc/table.html' %}
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                Export Policies
            </h5>
            <div class="card-body">
                {% render_table export_policies_table 'inc/table.html' %}
            </div>
        </div>
        {% plugin_right_page object %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">
                Related BGP Sessions
            </h5>
            <div class="card-body">
                {% render_table related_session_table 'inc/table.html' %}
            </div>
            {% plugin_right_page object %}
        </div>
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}