{% extends 'generic/object_list.html' %}

{% block buttons %}
{% if permissions.add %}
<a href="{% url 'plugins:netbox_bgp:community_add' %}" class="btn btn-primary">
    <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add
</a>
{% endif %}
{% endblock %}
{% block bulk_buttons %}
{% if permissions.change %}
<button type="submit" name="_edit"
    formaction="{% url 'plugins:netbox_bgp:community_bulk_edit' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
    class="btn btn-warning btn-sm">
    <span class="mdi mdi-pencil" aria-hidden="true"></span> Edit Selected
</button>
{% endif %}
{% if permissions.delete %}
<button type="submit" name="_delete"
    formaction="{% url 'plugins:netbox_bgp:community_bulk_delete' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
    class="btn btn-danger btn-sm">
    <span class="mdi mdi-trash-can-outline" aria-hidden="true"></span> Delete Selected
</button>
{% endif %}
{% endblock %}