{% extends 'generic/object.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'plugins:netbox_bgp:community_list' %}">Communities</a></li>
{% endblock %}


{% block content %}
<div class="row mb-3">
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">
                Community
            </h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">Value</th>
                    <td>{{ object.value }}</td>
                </tr>
                <tr>
                    <th scope="row">Tenant</th>
                    <td>
                        {% if object.tenant %}
                        <a href="{{ object.tenant.get_absolute_url }}">{{ object.tenant }}</a>
                        {% else %}
                        <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Scope</th>
                    <td>
                        <div class="d-flex justify-content-between align-items-start">
                            <div id="attr_scope">
                                {% if object.scope %}
                                <a href="{{ object.scope.get_absolute_url }}">{{ object.scope }}</a>
                                <div class="fs-5 text-muted">{{ object.scope_type.model|title }}</div>
                                {% else %}
                                <span class="text-muted">None</span>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td>
                        {% badge object.get_status_display bg_color=object.get_status_color %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
            </table>
        </div>
        {% include 'inc/panels/custom_fields.html' %}
        {% include 'inc/panels/tags.html' %}
        {% include 'inc/panels/comments.html' %}
        {% plugin_left_page object %}
    </div>
    <div class="col-md-6">
        {% plugin_right_page object %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}
