{% extends 'generic/object.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'plugins:netbox_bgp:community_list' %}">Communities</a></li>
{% endblock %}

{% block controls %}
<div class="pull-right noprint">
    {% if perms.netbox_bgp.change_community %}
    <a href="{% url 'plugins:netbox_bgp:community_edit' pk=object.pk %}" class="btn btn-warning">
        <span class="mdi mdi-pencil" aria-hidden="true"></span> Edit
    </a>
    {% endif %}
    {% if perms.netbox_bgp.delete_community %}
    <a href="{% url 'plugins:netbox_bgp:community_delete' pk=object.pk %}" class="btn btn-danger">
        <span class="mdi mdi-trash-can-outline" aria-hidden="true"></span> Delete
    </a>
    {% endif %}
</div>
{% endblock controls %}
{% block tabs %}
<ul class="nav nav-tabs px-3">
    {% block tab_items %}
    <li class="nav-item" role="presentation">
        <a class="nav-link{% if not active_tab %} active{% endif %}" href="{{ object.get_absolute_url }}">{{ object|meta:"verbose_name"|bettertitle }}</a>
    </li>
    {% endblock tab_items %}
    {% if perms.extras.view_objectchange %}
    <li role="presentation" class="nav-item">
        <a href="{% url 'plugins:netbox_bgp:community_changelog' pk=object.pk %}" class="nav-link{% if active_tab == 'changelog'%} active{% endif %}">Change Log</a>
    </li>
    {% endif %}
</ul>
{% endblock tabs %}

{% block content %}
<div class="row mb-3">
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">
                Community
            </h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <td>Value</td>
                        <td>{{ object.value }}</td>
                    </tr>
                    <tr>
                        <td>Tenant</td>
                        <td>
                            {% if object.tenant %}
                            <a href="{{ object.tenant.get_absolute_url }}">{{ object.tenant }}</a>
                            {% else %}
                            <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>
                            {% badge object.get_status_display bg_color=object.get_status_color %}
                        </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ object.description|placeholder }}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% include 'inc/panels/custom_fields.html' %}
        {% include 'inc/panels/tags.html' %}
        {% include 'inc/panels/comments.html' %}
        {% plugin_left_page object %}
    </div>
    <div class="col-md-6">
        {% plugin_right_page object %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}