{% extends 'generic/object.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'plugins:netbox_bgp:redistributing_list' %}">Redistributing</a></li>
{% endblock %}


{% block content %}
<div class="row mb-3">
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">
                Redistributing
            </h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <td>Name</td>
                        <td>{{ object.name | placeholder}}</td>
                    </tr>
                    <tr>
                        <td>VRF</td>
                        <td>
                            {% if object.vrf %}
                            <a href="{{ object.vrf.get_absolute_url }}">{{ object.vrf }}</a>
                            {% else %}
                            {{ "" | placeholder }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Device</td>
                        <td>
                            {% if object.device %}
                            <a href="{{ object.device.get_absolute_url }}">{{ object.device }}</a>
                            {% else %}
                            {{ "" | placeholder }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Virtual Machine</td>
                        <td>
                            {% if object.virtualmachine %}
                            <a href="{{ object.virtualmachine.get_absolute_url }}">{{ object.virtualmachine }}</a>
                            {% else %}
                            {{ "" | placeholder }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Redistribute source</td>
                        <td>
                            {% if object.redistribute_source %}
                            {% badge object.get_redistribute_source_display bg_color=object.get_redistribute_source_color %}
                            {% else %}
                            {{ "" | placeholder }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Redistribute policy</td>
                        <td>
                            {% if object.redistribute_policy %}
                            <a href="{{ object.redistribute_policy.get_absolute_url }}">{{ object.redistribute_policy }}</a>
                            {% else %}
                            {{ "" | placeholder }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Site</td>
                        <td>
                            {% if object.site %}
                            <a href="{{ object.site.get_absolute_url }}">{{ object.site }}</a>
                            {% else %}
                            {{ "" | placeholder }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ object.description | placeholder }}</td>
                    </tr>
                    <tr>
                        <td>Tenant</td>
                        <td>
                            {% if object.tenant %}
                            <a href="{{ object.tenant.get_absolute_url }}">{{ object.tenant }}</a>
                            {% else %}
                            {{ "" | placeholder }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% include 'inc/panels/custom_fields.html' %}
        {% include 'inc/panels/tags.html' %}
        {% include 'inc/panels/comments.html' %}
        {% plugin_left_page object %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}